PORT=3001

# 允许跨域访问的前端域名（多个用逗号分隔）
FRONTEND_ORIGIN=http://localhost:3000,https://ce1este.fun,https://www.ce1este.fun,https://lost-and-found-navy-iota.vercel.app

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=lost_and_found

